.sidebar{
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    width: 70px;
    background-color: white;
}
.sidebar-icons{
    width: 70px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-icons:hover{
    background-color: rgb(235,235,235);
    border-radius: 5px;
}
.sidebar-icons img{
    width: 24px;
}
.sidebar-icons p{
    font-size:10px ;
    margin-top: 9px;
}
